[submodule "deps/glfw"]
	path = deps/glfw
	url = git@github.com:glfw/glfw.git
[submodule "deps/dll"]
	path = deps/boost/dll
	url = git@github.com:boostorg/dll.git
[submodule "deps/filesystem"]
	path = deps/boost/filesystem
	url = git@github.com:boostorg/filesystem.git
[submodule "deps/boost/system"]
	path = deps/boost/system
	url = git@github.com:boostorg/system.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "deps/system-run"]
	path = deps/system-run
	url = git@github.com:Nickpofig/system-run.git
